/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.header {
  padding: 80px;
  text-align: center;
  color: white;
    background: linear-gradient(270deg, #22223b, #4a4e69, #9a8c98, #c9ada7);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.header h1{
  font-size: 40px;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
.nav {
  overflow: hidden;
  background-color:#4a4e69;
  height:65px;
  position: sticky;
  top:0px;
}
.nav a{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 21px 20px;
  text-decoration: none;
  font-size:15px;

}
.nav a.right{
  float: right;
}
.nav a:hover{
  background-color: #dfefae0;
  color: black;
}
.opening {
  display: flex;
}

h2{
  text-align: center;
  color: #4A4E69;
}

.middle {
  width:70vw;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
}

.embed{
  overflow:scroll;
  z-index:3;
}
.LCS{
  width: 70vw;
  height:50vw;
}

.prg {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
}
/* adjust typography defaults */
body {
  margin: 1rem;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  line-height: 1.5;
  height:12000vh;
  font-size: 28px;
  background-color: #F2E9E4;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}