/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.header {
  padding: 80px;
  text-align: center;
  background: #4a4e69;
  color: white;
}
.header h1{
  font-size: 40px;
  font-family: monospace;
}
.nav {
  overflow: hidden;
  background-color:#9a8c98;
  height:65px;
  position: sticky;
  top:0px;
}
.nav a{
  font-family: monospace;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 21px 20px;
  text-decoration: none;

}
.nav a.right{
  float: right;
}
.nav a:hover{
  background-color: #dfefae0;
  color: black;
}
/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  height:200vh;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}